input[type="email"],
input[type="name"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid var(--primary-text-color); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: var(--text-color);
}
/* input:focus {
  background-color: var(--secondary-bg-color);
} */

/* Style the submit button with a specific background color etc */
button[type="submit"] {
  background-color: var(--primary-bg-color);
  color: var(--secondary-bg-color);
  border: 1px var(--secondary-bg-color) solid;
  padding: 12px 20px;

  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type="submit"]:hover {
  background-color: var(--secondary-bg-color);
  color: var(--primary-bg-color);
}

/* Add a background color and some padding around the form */
.container-contact {
  border-radius: 5px;
  /* background-color: #f2f2f2; */

  max-width: 70vw;
  margin: 0 auto;
}
#contact-from > #submit {
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 5px auto;
  border-radius: 8px;
}

#status.success {
  /* background-color: #4caf50; */
  background-color: teal;
  color: white;

  animation: status 4s ease forwards;
}

#status.error {
  background-color: firebrick;
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
#contact {
  /* padding: 30px; */
}

#footer {
  padding-top: 20px;
  position: relative;
  margin-top: -50px;
  height: 70px;
  font-size: large ;
}
.only-small{
  display: inline;


}
@media only screen and (max-width: 40em) {
  #footer {
    padding-top: 5px;
    position: relative;
    margin-top: -50px;
    height: 70px;
    font-size: large ;
  }
  .only-small{
    display: none ;

  
  
  }
}
#footer > a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

